
.DS_Store
StepWat_R_Wrapper_Parallel/.DS_Store
StepWat_R_Wrapper_Parallel/STEPWAT_DIST/.DS_Store
StepWat_R_Wrapper_Parallel/STEPWAT_DIST/.RData
StepWat_R_Wrapper_Parallel/STEPWAT_DIST/.Rhistory
jobs.txt
StepWat_R_Wrapper_Parallel/StepWat.Weather.Markov.Test
StepWat_R_Wrapper_Parallel/WeatherData_2016.RData
