
.DS_Store
R_program/.DS_Store
R_program/STEPWAT_DIST/.DS_Store
R_program/STEPWAT_DIST/.RData
R_program/STEPWAT_DIST/.Rhistory
jobs.txt
R_program/StepWat.Weather.Markov.Test
R_program/WeatherData_2016.RData
R_program/STEPWAT_DIST/output
R_program/STEPWAT_DIST/sxw*
